.pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 8px;

    button {
        padding: 8px 12px;
        border-radius: 6px;
        border: 1px solid #e5e7eb;
        background: white;
        cursor: pointer;
    }

    button:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

button.active {
    background: black;
    color: white;
    border-color: black;
}