.carousel {
    position: relative;
    max-width: 1000px;
    height: 450px;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.imageWrapper {
    position: absolute;
    inset: 0;
}

.bgImage {
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
    to bottom,
        rgba(38, 38, 43, 0.35),
        rgba(38, 38, 43, 0.7)
    );
}

.info {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 30px;

    h3 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    h2 {
        font-size: 50px;
        font-weight: 900;
    }
}

@media (max-width: 490px) {
    .info {
        h3 {
            font-size: 30px;
        }

        h2 {
            font-size: 40px;
        }
    }
}